<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OttoBot - <%= pageTitle %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="/public/css/styles.css" rel="stylesheet">
</head>
<body class="has-background-grey-lighter full-height">
    <nav class="navbar has-background-grey-lighter" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <figure class="image is-48x48">
              <img src="/public/img/O.T.T.O_info.png" alt="Logo">
            </figure>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">
              Accueil
            </a>
      
            <a href="/commands"class="navbar-item">
              Commandes
            </a>
            <div class="navbar-item">
                <a href="https://discord.com/api/oauth2/authorize?client_id=1121449522309120070&permissions=8&scope=bot%20applications.commands" class="button is-primary is-link">
                    Ajouter Otto Bot
                </a>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
                <% if (user) { %>
                    <a href="/dashboard" class="button is-primary is-link">
                        <strong>Dashboard</strong>
                    </a>
                <% } else { %>
                    <a href="/login" class="button is-primary is-link">
                        <strong>Se connecter</strong>
                    </a>
                <% } %>
            </div>
            <% if (user) { %>
            <figure class="image is-48x48">
              <img class="is-rounded" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" alt="Avatar">
            </figure>
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/logout" class="button is-primary is-danger">
                        <strong>Se déconnecter</strong>
                    </a>
                </div>
            <% } %>
          </div>
        </div>
      </nav>